
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'users_profile_list' %}">
    profile Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
      <label>{{ field.label }}</label>
      {% if field.field.widget.input_type != "select" %}
      <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="form-control">
      {% endif %}

      {% if field.field.widget.input_type == "select" %}
      <select name={{ field.name }} id="{{ field.name }}" class="form-control">
          {% for id,value in field.field.choices %}
              <option value="{{ id }}">{{ value }}</option>
          {% endfor %}
      </select>
      {% endif %}
      
      {% if field.errors %}
      <div class="alert alert-danger" style="margin:10px">
          {{ field.errors }}
      </div>
      {% endif %}
  </div>
  {% endfor %}
  
  <button type="submit" class="btn btn-primary btn-block">SAVE</button>
</form>

{% endblock %}